body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #727e86 !important;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.nav-link.active {
  color: #000 !important;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Common Styles */
.invisible {
  opacity: 0;
}

/* Preloader */
.preloader {
  margin: 10px auto;
  position: relative;
  width: 30px;
  height: 30px;
}

.preloader span {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.preloader:first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}

.preloader:nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader:nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}

.preloader:last-child {
  background: #727e86;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Top Sales */
.top-sales {
  min-height: 300px;
}

/* Catalog */
.catalog {
  min-height: 600px;
}

.catalog-categories {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.catalog-item-card {
  margin-bottom: 1em;
}

/*Bootstrap */
h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}
